@inject CounterData counterData

<h1>Counter</h1>

<p>Current count: @counterData.CurrentValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  protected override void OnInitialized()
  {
    counterData.CurrentValueChangedEvent += StateChanged;
  }

  public void Dispose()
  {
    counterData.CurrentValueChangedEvent -= StateChanged;
  }

  public void StateChanged(object sender, EventArgs e)
  {
    StateHasChanged();
  }

  private void IncrementCount()
  {
    counterData.Increment();
  }
}