@inject CounterData counterData

<h1>Counter</h1>

<p>Current count: @counterData.CurrentValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
  private void IncrementCount()
  {
    counterData.Increment();
  }
}